@import 'reset.scss';
@import 'hover.scss';
$primary-color:  #66d7d1;
$secondary-color: #ff637d;
/** GENERAL **/
.grid{
    background-color: #fdfdfd;
    padding: 1rem;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

header{
    grid-area: header;
    margin: -1rem;
}
.brand {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    width: auto;
    height: 130px;
    margin-top: 12px;
}
nav{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $primary-color;
    width: 100%;
    height: 100px;
    z-index: 1;
    box-shadow: 0px 0px 6px rgba(102, 215, 209, 0.33);
    -webkit-transition: height 0.3s, -webkit-transform 0.65s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: height 0.3s, -moz-transform 0.65s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: height 0.3s, transform 0.65s cubic-bezier(0.645, 0.045, 0.355, 1);
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li{
    opacity: 1; 
    transform: matrix(1, 0, 0, 1, 0, 0); 
    display: inline-block; 
    text-decoration: none;
    margin: 0 9px;
}
nav ul li a{
    display: block;
    transition: all .7s;
    -webkit-transition: all .7s;
    color: #fff;
    font-size: 1.15em;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
nav ul li a:hover,
nav ul li a:active {
    border-bottom: 1px solid #fff87f;
    color: #fff87f;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
.main-title{
    font-size: 2.5em;
    color: #fff;
    background-color: $secondary-color;
    display: inline-block;
    padding: 10px 20px;
}
.link a {
    padding: 16px;
    line-height: .9;
    margin: 4px;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #ffffff;
    background-color: $secondary-color;
    box-shadow: 1px 6px 6px rgba(159, 159, 159, 0.42);
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.link a:hover {
    background-color: $primary-color;
    color: #fff;
    border-color: transparent;
}
.container{
    height: auto;
    padding: 1rem;
    display: grid;
    grid-template-areas: ". about-section ."
                         ". work-section ."
                         ". contact-section .";
    grid-template-columns: 8% 80% 8%;
    grid-gap: 1rem;
}
.about-section{
    grid-area: about-section;
    margin: 80px 0;
    padding-top: 80px;
}
.work-section{
    grid-area: work-section;
    margin: 80px 0;
    padding-top: 80px;
}
.contact-section{
    grid-area: contact-section;
    margin: 80px 0;
    padding-bottom: 20px;
}
//img left side
.grid-item-left{
    height: auto;
    padding: 1rem;
    display: grid;
    grid-template-areas: "grid-item-left grid-item-right";
    grid-template-columns: 60% 40%;
    margin: 80px 0px;
}
.grid-item-col-left{
    display: grid;
    grid-area: grid-item-left;
    padding: 0 0 15px;
    justify-items: center;
    align-self: center;
}
.grid-item-col-left img{
    display: block;
    margin: 0 auto;
}
.grid-item-col-right{
    display: grid;
    grid-area: grid-item-right;
    padding: 0 60px;
}
//img right side
.grid-item-right{
    height: auto;
    padding: 1rem;
    display: grid;
    grid-template-areas: "grid-item-right grid-item-left";
    grid-template-columns: 40% 60%;
    margin: 80px 0px;
}
.work-info{
    align-self: center;
}
.work-info a h1{
    color: $primary-color;
    font-size: 2.15em;
    margin-bottom: 0px;
}
.work-info a:hover h1{
    color: $secondary-color;
}
.work-info a hr {
    border: 1px solid;
    width: 40%;
    margin: 0 auto 40px;
    color: transparent;
}
.work-info a:hover hr {
    color: $secondary-color;
    -webkit-transition: all .7s ease-out;
    transition: all 0.7s ease-out;
}
.info{
    list-style-type: square;
    margin-left: -20px;
}
.entry{
    text-align: justify;
}
/* MAIN */
.about-grid{
    height: auto;
    padding: 1rem 0;
    display: grid;
    grid-template-areas: "about-left about-right";
    grid-template-columns: 26% 73%;
    grid-gap: 1rem;
}
.about-info{
    height: auto;
    padding: 1rem 0;
    display: grid;
    grid-template-areas: "col-img col-info";
    grid-template-columns: 40% 60%;
    grid-gap: 1rem;
}
.col-img{
    grid-area: col-img;
}    
.col-img p{
    text-align: center;
    font-size: 14px;
}
.col-info{
    grid-area: col-info;
} 
.col-info table td i{
    color: $primary-color;
}
.about-info .col-info h2 {
    color: $primary-color;
    font-size: 2.15em;
    margin-top: 0;
}
.img-about{
    width: 73%;
    margin: 0 auto;
    display: block;
}
.about-left{
    grid-area: about-left;
    padding: 0 20px 0 0;
}
.about-right{
    grid-area: about-right;
    padding: 0 20px;
}
/*skills*/
.about-me .skill-progress-box {
    position: relative;
}
.about-section.about-me .skill-progress-box h3 {
    font-size: 11px;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-top: 8px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.about-me .skill-progress-box h4{
    margin-bottom: 5px;
}
.about-me .skill-progress-box h4 span {
    padding-left: 8px;
}
.about-me .skill-progress-box h4 span::before {
    content: "-";
    padding-right: 3px;
}
.about-me .skill-progress-box h4 span::after {
    content: "%";
    padding-left: 3px;
}
.about-me .skill-progress-box .progress {
    height: 7px;
    margin-bottom: 16px;
    border-radius: 0;
    padding: 9px 0 3px 3px;
    background-color: $primary-color;
    box-shadow: none;
}
.about-me .skill-progress-box .progress-bar {
    background-color: #fff87f;
    height: 2px;
    -webkit-transition: all ease 5s;
    -moz-transition: all ease 5s;
    -o-transition: all ease 5s;
    -ms-transition: all ease 5s;
    transition: all ease 5s;
}
.social{
    margin-top: 40px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.social i{
    padding: 0 7px;
    color: $primary-color;
}
.social i:hover{
    color: $secondary-color;
}
footer{
    background-color: $secondary-color;
    margin: -1rem;
    text-align: center;
    color: #fff;
}
@media(max-width:1280px){
    .container{
    grid-template-columns: auto;
    }
}
@media(max-width:1199px){
    .grid-item-left{
    grid-template-columns: 43% 57%;
    }
}